/* Write your CSS here */
* {
  font-family: 'roboto';
}
.bg {
  background-image: linear-gradient(to left, #fa7257, #fc63a7);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.first-last-name {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.btn-align {
  text-align: center;
}
.first-last-name-button {
  color: #fa7257;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  width: 200px;
  border-color: transparent;
}
.first-last-name-card {
  background-color: #fddddb;
  border-radius: 10px;
  padding: 30px;
  color: black;
  text-align: center;
  font-weight: bold;
  width: 300px;
}
.first-last-name-card-null {
  background-color: transparent;
  border-radius: 10px;
  padding: 30px;
  color: transparent;
  text-align: center;
  font-weight: bold;
  width: 300px;
}
